@font-face {
    font-family: 'DINCondensed';
    src: url(../font/DIN\ Condensed\ Bold.woff.ttf);
}

@font-face {
    font-family: DINAlternate-Bold;
    src: url(../font/DIN\ Alternate\ Bold.ttf);
}

html,
body {
    /* font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

.header {
    /* position: fixed;
    top: 0;
    z-index: 999; */
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #fff;
    /* transition: all .4s cubic-bezier(.215, .61, .355, 1) 0s; */

}

/* .header.mini {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
} */

.header-c {
    position: relative;
    height: 100%;
    width: 1160px;
    margin: 0 auto;
}

.header-c .logo {
    float: left;
    width: 121px;
    height: 100%;
    background: url("../img/LOGO.png") no-repeat center;
    background-size: 100%;
}

.header-c .nav {
    float: right;
    display: flex;
    justify-content: space-between;
    width: 380px;
    height: 100%;
}

.nav .nav-item {
    position: relative;
    height: 100%;
}

.nav .nav-item a {
    display: block;
    height: 100%;
    font-size: 14px;
    color: #666;
    text-align: center;
    line-height: 60px;
    transition: all ease 0.4s;
}

.nav .nav-item .line {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #865eff;
    transform: translateX(-50%);
    transition: all ease 0.4s;
}

.nav .nav-item.active a {
    font-weight: bold;
    color: #333;
}

.nav .nav-item.active span {
    width: 120%;
}

.nav .nav-item:hover a {
    color: #333;
}

.nav .nav-item:hover span {
    width: 120%;
}

.header-c .m-nav-icon {
    display: none;
}

/* 标题公共部分 */
.title {
    height: 30px;
}

.title .cname {
    float: left;
    font-weight: bolder;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    letter-spacing: 0.35px;
}

.title .ename {
    float: left;
    font-family: DINCondensed;
    font-size: 14px;
    color: #969696;
    padding-left: 12px;
    padding-top: 12px;
}

/* 底部部分 */
.footer {
    /* min-height: 274px; */
    background-color: #282c35;
}

.footer-c {
    width: 1160px;
    padding: 40px 0;
    margin: 0 auto;
}

.zx-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.zx-list .qr {
    width: 150px;
    margin-right: 57px;
    margin-top: 25px;
}

.qr .img {
    width: 150px;
    height: 150px;
    background: url('../img/qr.png') no-repeat center;
    background-size: 100% 100%;
}

.qr .tip {
    /* font-family: PingFangSC-Regular; */
    font-size: 14px;
    color: #999999;
    text-align: center;
    line-height: 1;
    margin-top: 6px;
}

.zx-list .tel {
    width: 158px;
}

.zx-list .regular {
    /* font-family: PingFangSC-Regular; */
    font-size: 14px;
    line-height: 20px;
    color: #999999;
}

.tel .tel-number {
    /* font-family: PingFangSC-Medium; */
    font-weight: bolder;
    font-size: 20px;
    color: #ffffff;
    line-height: 28px;
    margin-top: 8px;
}

.tel .tel-timing {
    /* font-family: PingFangSC-Regular; */
    font-size: 12px;
    line-height: 18px;
    color: #999999;
}

.zx-list .zx-btn {
    display: block;
    width: 156px;
    /* font-family: PingFangSC-Medium; */
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    height: 45px;
    color: #ffffff;
    background-image: linear-gradient(-40deg, #a066fc 0%, #5939ec 100%);
    border-radius: 23px;
}

.zx-list .address {
    width: 235px;
}

.address .address-info {
    /* font-family: PingFangSC-Regular; */
    font-size: 18px;
    line-height: 25px;
    margin-top: 8px;
    color: #ffffff;
}

.links {
    min-height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #20232a;
}

.links-c {
    display: inline-block;
    font-size: 12px;
    color: #666;
}

.links-c a {
    color: #666;
    padding: 0 5px;
    transition: all ease .4s;
}

.links-c span {
    padding-left: 24px;
}

.links-c a:hover {
    color: #fff;
}

.zx {
    position: fixed;
    left: 50%;
    bottom: 150px;
    margin-left: 630px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* background-image: linear-gradient(139deg, #A066FC 0%, #5939EC 99%); */
    background: url('../img/zx.png') no-repeat center;
    background-size: cover;
    cursor: pointer;
    transition: all ease .4s;
}

.zx:hover {
    box-shadow: 0 8px 13px 0 rgba(120, 76, 243, 0.37);
    transform: translateY(-4px);
}