body {
    background-color: #f5f5f5;
}

.main {
    background-color: #f5f5f5;
    padding-bottom: 80px;
}

.banner {
    position: relative;
    width: 1160px;
    background-color: #f5f5f5;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 5px;
}

.banner .swiper-container.banner-swiper {
    width: 820px;
}

.banner-swiper .swiper-slide {
    padding-top: 43.9024%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.banner .swiper-button {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 11px 20px;
    visibility: hidden;
    outline: none;
}

.banner .swiper-button-prev {
    background-image: url("../img/arr.png");
    transform: rotate(180deg);
    left: 25px;
}

.banner .swiper-button-next {
    background-image: url("../img/arr.png");
    right: 25px;
}

.banner:hover .swiper-button {
    visibility: visible;
}



/* 不凡优势 */
.super {
    width: 1160px;
    margin: 0 auto;
    padding-top: 62px;
    overflow: hidden;
}

.super-list {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.super .super-item {
    width: 275px;
    /* height: 105px; */
    transition: all ease 0.4s;
    cursor: pointer;
}

.super .out {
    position: relative;
    padding-top: 38.1818%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.super-item img {
    position: absolute;
    left: 5.8181%;
    top: 5.5142%;
    width: 31.6363%;
    transition: all ease 0.4s;
}

.super-item .super-info {
    position: absolute;
    left: 42%;
    top: 50%;
    width: 125px;
    transform: translateY(-50%);
}

.super-item .super-info .info-title {
    font-family: 'ali-regular';
    font-weight: bolder;
    font-size: 19px;
    line-height: 26px;
    color: #ffffff;
}

.super-item .super-info .info-desc {
    font-family: 'ali-regular';
    font-size: 12px;
    color: #ffffff;
    line-height: 17px;
    margin-top: 4px;
}

.super .super-item:hover {
    transform: translate3d(0, -4px, 0) !important;
    /* box-shadow: 0 18px 16px -10px rgba(0, 0, 0, 0.20); */
}

.super .super-item:hover img {
    transform: rotate(60deg);
}



.super-item:nth-child(1):hover {
    box-shadow: 0 4px 6px 0 rgba(36, 152, 242, 0.3);
}

.super-item:nth-child(2):hover {
    box-shadow: 0 4px 6px 0 rgba(36, 152, 242, 0.3);
}

.super-item:nth-child(3):hover {
    box-shadow: 0 4px 6px 0 rgba(249, 123, 93, 0.3);
}

.super-item:nth-child(4):hover {
    box-shadow: 0 4px 6px 0 rgba(121, 138, 158, 0.3);
}

/* 课程介绍 */
.course {
    width: 1160px;
    margin: 0 auto;
    padding-top: 66px;
    overflow: hidden;

}

.course-list {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.course .course-item {
    width: 570px;
    border-radius: 5px;
}

.course .course-item .out {
    position: relative;
    width: 100%;
    padding-top: 35.0877%;
    /* padding-top: 70%; */
    background-position: right bottom;
    background-size: auto 90%;
    background-repeat: no-repeat;
}

.course .course-tab {
    position: absolute;
    left: 9%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: flex-end;
    width: 175px;
    flex-wrap: wrap;
    font-family: 'ali-medium';
}


.course .course-tab .tab-en {
    font-size: 77px;
    /* height: 65px; */
    color: #FFFFFF;
    line-height: 65px;
    letter-spacing: 4.5px;
    font-family: 'DINAlternate-Bold';
}

.course .course-tab .tab-en.h5 {
    letter-spacing: 0;
    font-family: 'DINCondensed';
}

.course .course-tab .tab-cn {
    font-size: 16px;
    line-height: 22px;
    margin-left: 4px;
    color: #FFFFFF;
}

.course .course-tab .view {
    display: block;
    width: 152px;
    border: 1px solid #FFFFFF;
    border-radius: 18px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 34px;
    margin-top: 13px;
    cursor: pointer;
}

.course .course-tab .view:hover {
    border-color: rgba(255, 255, 255, .6);
    background-color: rgba(255, 255, 255, .6);
}

/* 学校环境 */
.enviroment {
    /* height: 600px; */
    margin-top: 98px;
    background-color: #e2e2e2;
}

.enviroment-c {
    width: 1160px;
    /* height: 100%; */
    padding: 95px 0 65px 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-image: url("../img/en-bg.png");
    background-repeat: no-repeat;
    background-size: 312px 253px;
    background-position: calc(50% - 500px) 300px;
    /* background-attachment: fixed; */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.enviroment .title {
    /* float: left; */
    width: 230px;
    height: 190px;
    background: url("../img/en-title.png") no-repeat left top;
    background-size: 230px 190px;
}

.enviroment .imgs {
    /* float: left; */
    width: 275px;
    /* height: 410px; */
    margin-left: 65px;
    margin-right: 20px;
}

.enviroment .imgs .out {
    width: 100%;
}

.imgs .img-top {
    padding-top: 70.9090%;
    background: url("../img/img-t.jpg") no-repeat center;
    background-size: 100% 100%;
    margin-bottom: 20px;
}

.imgs .img-bottom {
    padding-top: 70.9090%;
    background: url("../img/img-b.jpg") no-repeat center;
    background-size: 100% 100%;
}

.enviroment .en-swiper {
    /* float: left; */
    width: 570px;
}

.en-swiper .swiper-slide {
    position: relative;
    height: 30px;
    padding-top: 71.9298%;
    /* background-color: pink; */
    border-radius: 5px;
}

.en-swiper .swiper-slide img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100%; */
}

.en-swiper .swiper-button-prev {
    background-image: url("../img/arr.png");
    width: 24px;
    height: 34px;
    margin-top: -32px;
    transform: rotate(180deg);
}

.en-swiper .swiper-button-next {
    background-image: url("../img/arr.png");
    width: 24px;
    height: 34px;
    margin-top: -32px;
}

.en-swiper .swiper-button-prev:hover {
    background-image: url(../img/arr-active.png);
    transform: rotate(0);
}

.en-swiper .swiper-button-next:hover {
    background-image: url(../img/arr-active.png);
    transform: rotate(180deg);
}

.en-swiper>.en-pagination.swiper-pagination {
    bottom: 0;
}

.en-pagination .swiper-pagination-bullet-active {
    width: 32px;
    height: 8px;
    border-radius: 5px;
    background-image: linear-gradient(-75deg, #a066fc 0%, #5939ec 100%);
}

/* 学员就业 */
.work {
    width: 1160px;
    margin: 0 auto;
    padding-top: 100px;
}

.work-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-container.work-swiper {
    position: relative;
    height: 530px;
    width: 870px;
    margin-top: 30px;
}

.work-swiper .swiper-slide {
    position: relative;
    text-align: center;
    display: flex;
    width: 275px;
    height: 470px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 5px;
    transition: all ease 0.4s;
    background-color: #fafafa;
}

.work-swiper .swiper-slide .desc {
    width: 68%;
    height: 140px;
    font-size: 14px;
    color: #999999;
    line-height: 20px;
    text-align: justify;
    margin-top: 75px;
    font-family: 'ali-regular';
}

.work-swiper .swiper-slide .detail {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #784DF3;
    width: 68%;
    line-height: 20px;
    margin-top: 15px;
    font-family: 'ali-medium';

}

.work-swiper .swiper-slide .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 50px;
    background-color: gray;
}

.work-swiper .swiper-slide .company {
    height: 22px;
    margin-top: 14px;
    font-size: 16px;
    color: #333333;
    font-family: 'ali-medium';

}

.work-swiper .swiper-slide .role {
    height: 20px;
    font-size: 14px;
    color: #999;
    margin-top: 6px;
    font-family: 'ali-regular';
}

.work-swiper .swiper-slide .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: linear-gradient(-40deg, #a066fc 0%, #5939ec 100%);
    border-radius: 5px 5px 0 0;
    visibility: hidden;
}

.work-swiper .swiper-slide-prev,
.work-swiper .swiper-slide-next {
    width: 275px;
}

.work-swiper .swiper-slide-active {
    margin-top: 0;
    z-index: 10;
    padding: 15px;
    /* width: 320px; */
    /* height: 500px; */
    /* transform: scale(1.13, 1.06); */
    background: #fff url("../img/work-bg.png") no-repeat 43% 28px;
}

.work-swiper .swiper-slide-active .line {
    visibility: visible;
}

.swiper-container-horizontal .work-pagination.swiper-pagination-bullets {
    bottom: 0;
}

.work-pagination .swiper-pagination-bullet-active {
    width: 32px;
    height: 8px;
    border-radius: 5px;
    background-image: linear-gradient(-75deg, #a066fc 0%, #5939ec 100%);
}

.work-data {
    width: 275px;
    height: 470px;
    padding: 0 33px;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
}

.work-data .work-data-item {
    text-align: center;
    padding: 32px 0 40px 0;
    border-bottom: 1px solid #efefef;
}

.work-data-item .number {
    position: relative;
    font-family: DINCondensed;
    font-size: 48px;
    /* height: 48px; */
    line-height: 60px;
    color: #424853;
    padding-left: 0;
}

.work-data-item .number span {
    position: absolute;
    top: 4px;
    font-size: 30px;
}

.work-data-item .number span.add {
    top: -14px;
}

.work-data-item p {
    line-height: 24px;
    font-family: 'ali-medium';
    font-size: 15px;
    padding-left: 8px;
    color: #999999;
}

/* 免费公开课 */
.public {
    position: relative;
    width: 1160px;
    margin: 0 auto;
    padding-top: 106px;
    overflow: hidden;
}

.public .tab {
    position: absolute;
    left: 210px;
    top: 109px;
}

.public .tab-item {
    display: inline-block;
    width: 60px;
    font-family: 'ali-regular';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #333;
    cursor: pointer;
    margin-right: 15px;
    transition: all ease .4s;
}

.public .tab-item.active {
    background-image: linear-gradient(-40deg, #A066FC 0%, #5939EC 100%);
    border-radius: 4px;
    color: #fff;
}

.public .tab-item:hover {
    background-image: linear-gradient(-40deg, #A066FC 0%, #5939EC 100%);
    border-radius: 4px;
    color: #fff;
}

.public-list {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.public .public-item {
    width: 275px;
    /* height: 155px; */
}

.public .img {
    position: relative;
    width: 100%;
    padding-top: 38.1818%;
    border-radius: 5px;
    transition: all ease 0.4s;
    cursor: pointer;
}

.public .img img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    margin: auto;
    transition: all ease 0.4s;
}

.public .img:hover {
    transform: translateY(-4px);
    box-shadow: 0 18px 16px -10px rgba(0, 0, 0, 0.2);
}

.public .img:hover img {
    transform: rotate(20deg);
}

.public-item:nth-child(n + 1) .img {
    background-image: linear-gradient(90deg, #277be1 0%, #1db0e6 100%);
}

.public-item:nth-child(n + 2) .img {
    background-image: linear-gradient(90deg, #ff8c00 0%, #ffbb00 100%);
}

.public-item:nth-child(n + 3) .img {
    background-image: linear-gradient(90deg, #9944c4 0%, #bc63cc 100%);
}

.public-item:nth-child(n + 4) .img {
    background-image: linear-gradient(90deg, #120a33 0%, #120a33 100%);
}

.public .course-name {
    /* font-family: PingFangSC-Medium; */
    font-family: 'ali-medium';
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-top: 8px;
}

.public .course-name span {
    /* display: inline-block; */
    display: none;
    width: 58px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    font-family: 'ali-regular';
    color: #fff;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #1BAA0C;

}

.public .tag .course-name span {
    display: inline-block;
}

.public .teacher {
    font-family: 'ali-regular';
    font-size: 12px;
    color: #999999;
    line-height: 17px;
    margin-top: 4px;
}

/* 不凡说 */
.talk {
    width: 1160px;
    margin: 0 auto;
    padding-top: 72px;
    overflow: hidden;
}

.talk-list {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.talk .talk-item {
    width: 275px;
}

.talk-item a {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 38.1818%;
    border-radius: 5px;
    overflow: hidden;
    transition: all ease .4s;
}

.talk-item a img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .4s ease;
    background: #000;
}

.talk-item a img:hover {
    /* box-shadow: 0 18px 16px -10px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px); */
    transform: scale(1.08);
}

.talk-item .talk-name {
    font-family: 'ali-regular';
    font-size: 14px;
    color: #333333;
    margin-top: 17px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}