@media(max-width:768px) {
    body .banner {
        height: 0;
        padding-top: 30%;
    }

    .main .main-c {
        width: 90%;
    }

    .main .wrap {
        width: 100%;
        margin-top: 20px;
    }

    .main .wrap .en-swiper {
        width: 100%;
        height: auto;
        border-radius: 5px 5px 0 0;
    }

    .main .en-swiper .swiper-slide {
        /* padding-top: 42.7083%; */
        height: 250px;
    }

    .main .wrap .desc {
        width: 100%;
        height: 150px;
        /* text-align: center; */
        padding-left: 20px;
        border-radius: 0 0 5px 5px;
    }

    .main .desc h3 {
        margin-top: 14px;
    }

    .main .desc p {
        margin-top: 10px;
    }

    .main .desc .btn {
        left: 20px;
        bottom: 15px;
    }

    .main .desc .btn.swiper-button-next {
        left: 80px;
        right: auto;
    }
}