@media(max-width:768px) {
    .main .main-c {
        width: 90%;
    }

    .main .project-list {
        margin-top: 40px;
    }

    .main .project-list .project-item {
        width: 100%;
        height: auto;
    }

    .main .projects .project-info {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;

    }

    .main .projects .project-info .view {
        margin-top: 20px;
    }
    .projects .project-item .out{
        width: 100%;
    }
    .main .projects .project-item .img {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
}