@media(max-width:768px) {
    body .banner {
        height: 0;
        padding-top: 30%;
    }

    .main .main-c {
        width: 90%;
    }

    .main .project-list {
        margin-top: 40px;
    }

    .main .project-list .project-item {
        width: 100%;
        height: auto;
    }

    .main .projects .project-info {
        float: none;
        display: inline-block;
        width: auto;
        padding: 15px 30px;
        margin: 0 auto;
    }

    .main .projects .project-info .view {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .projects .project-item .out {
        float: none;
        width: 100%;
    }

    .main .projects .project-item .img {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
}