@media(max-width:768px) {
    .main .main-c {
        width: 90%;
    }

    body .sub-nav .sub-item {
        /* width: 20%; */
        padding: 0 calc(10% - 1em);
    }

    .main .teacher-list {
        margin-top: 40px;
    }

    .main .teacher-item {
        width: 100%;
        height: auto;
    }

    .main .teacher-info {
        margin-left: 0;
        margin-top: 222px;
        padding: 30px;
        text-align: center;
    }

    .main .teacher-item img {
        left: 50%;
        transform: translateX(-50%);
    }
}