.main {
    background-color: #f5f5f5;
    padding-top: 60px;
}

.detail {
    position: relative;
    width: 1160px;
    margin: 0 auto;
    padding-top: 48px;
    overflow: hidden;
}

.tip {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #666;
    margin-bottom: 18px;
}

.article {
    float: left;
    width: 785px;
    padding: 40px;
    padding-bottom: 120px;
    height: 1000px;
    background-color: #fff;
    border-radius: 5px;
}

.side-list {
    /* float: right; */
    position: absolute;
    right: 0;
    top: 86px;
    width: 275px;
    height: 409px;
    background-color: #fff;
    border-radius: 5px;
    padding: 35px 30px;
    box-sizing: border-box;
}

.side-list h3 {
    font-size: 18px;
    line-height: 25px;
    color: #333;
    font-weight: bolder;
}

.side-list ul {
    margin-top: 13px;
    border-top: 1px solid #EBEBEB;

}

.side-list li {
    line-height: 22px;
    font-size: 14px;
    color: #666;
    margin: 16px 0;
}

.article .title {
    height: 86px;
    border-bottom: 1px solid #e8e8e8;
}

.title h2 {
    font-size: 26px;
    line-height: 28px;
    color: #333;
    margin-bottom: 8px;
    font-weight: bolder;
}

.title .date {
    font-size: 14px;
    line-height: 28px;
    color: #999;
}