@media(max-width:768px) {
    body .banner {
        height: 0;
        padding-top: 30%;
    }

    .main .main-c {
        width: 90%;
    }

    .main .super {
        flex-wrap: wrap;
        padding: 40px 0;
    }

    .main .super .bf {
        width: 100%;
        justify-content: center;
    }

    .main .super .sibling {
        width: 100%;
        justify-content: center;
    }

    .main .super .center {
        width: 100%;
        height: 120px;
        line-height: 120px;
        /* writing-mode: lr-tb; */
        word-break: break-all;
    }

    .main .main-c .super .super-item {
        border-radius: 100px;
    }

    .main .course .timing {
        /* display: none; */
        position: static;
        text-align: left;
    }

    .main .course-item .detail {
        padding: 15px;
        padding-top: 0;
    }


    .main .class-list li span {
        display: block;
        width: 100%;
    }

    .main .public-list {
        flex-wrap: wrap;
    }

    .main .public-list .public-item {
        width: 100%;
        margin: 15px 0;
    }

    .main .public .img img {
        width: 70px;
    }
}