.banner {
    height: 300px;
    /* padding-bottom: 18.75%; */
    /* background-image: linear-gradient(179deg, #20253D 0%, #374469 100%); */
    /* background: url('../img/H5-banner.png') no-repeat center;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 38px;
}

.main {
    padding: 16px 0 90px 0;
    background-color: #f5f5f5;
    overflow: hidden;
    font-family: 'ali-regular';
}

.main-c {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;

}

/* 比较 */
.super {
    display: flex;
    padding: 72px 0;


}

.super .bf {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 462px;
}

.super .center {
    position: relative;
    width: 235px;
    height: 192px;
    font-size: 100px;
    color: #E4E4E4;
    line-height: 192px;
    font-family: DINCondensed;

}

.super .center p {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 18px;
    color: #333;
    font-family: 'ali-bold';
}

.super .sibling {
    display: flex;
    flex-wrap: wrap;
    width: 462px;
}

.super .super-item {
    padding: 0 10px;
    width: fit-content;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    color: #fff;
    margin-bottom: 14px;
    white-space: nowrap;
    overflow: hidden;
}

.super .sibling .super-item {
    background-image: linear-gradient(270deg, #A8A8A8 0%, #676767 100%);
    box-shadow: 0 4px 6px 0 rgba(87, 87, 87, 0.30);
    border-radius: 6px 100px 100px 6px;
}

.super .bf .super-item:nth-child(1) {
    background-image: linear-gradient(270deg, #39B6F9 0%, #3C70F2 100%);
    box-shadow: 0 4px 6px 0 rgba(36, 152, 242, 0.30);
    border-radius: 100px 6px 6px 100px;
}

.super .bf .super-item:nth-child(2) {
    background-image: linear-gradient(270deg, #A066FC 0%, #3514CE 100%);
    box-shadow: 0 4px 6px 0 rgba(72, 34, 214, 0.30);
    border-radius: 100px 6px 6px 100px;

}


.super .bf .super-item:nth-child(3) {
    background-image: linear-gradient(270deg, #FFA259 0%, #FE5E80 100%);
    box-shadow: 0 4px 6px 0 rgba(249, 123, 93, 0.30);
    border-radius: 100px 6px 6px 100px;

}

/* 课程详情 */
.course {
    position: relative;
}

.course .course-item {

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 55px;
    margin-top: 28px;
    /* justify-content: space-between; */
    cursor: pointer;
}

.course .timing {
    position: absolute;
    right: 0;
    top: -10px;
    height: 70px;
    font-size: 60px;
    line-height: 70px;
    color: #333;
    font-family: DINCondensed;
}

.course .timing span {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    font-weight: normal;
    vertical-align: middle;
}

/* .course-item .duration {
    width: 56px;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
    color: #fff;
    border-radius: 2px;
    margin-top: 8px;
    margin-right: 12px;
}

.course-item:nth-child(2) .duration {
    background: #865EFF;

}

.course-item:nth-child(3) .duration {
    background: #71B903;

}

.course-item:nth-child(4) .duration {
    background: #3B89F4;

}

.course-item:nth-child(5) .duration {
    background: #FE7488;

} */

.course-item .title {
    font-size: 26px;
    height: auto;
    line-height: 37px;
    color: #333;
    font-family: 'ali-bold';
    text-align: left;
}

.course-item .desc {
    width: 100%;
    /* height: 25px; */
    line-height: 25px;
    font-size: 18px;
    font-family: 'ali-lighter';
    color: #333;
    text-align: left;
    margin-top: 11px;
    margin-bottom: 30px;
}

.course-item .detail {
    width: 100%;
    padding: 30px;
    padding-top: 0;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;

}

.detail h3 {
    margin: 22px 0 14px 0;
    text-align: left;
    font-size: 16px;
    color: orange;
    line-height: 22px;
    font-family: 'ali-bold';
}

.detail h3 span {
    padding-left: 20px;
    color: #151515;
}

.detail .class-list {
    border: 1px solid #e6e6e6;
    border-right: none;
    color: #666;
}

.class-list li:nth-child(2n) {
    background-color: #ececec;
}

.class-list li:nth-child(2n+1) {
    background-color: #f7f7f7;
}

.class-list li span {
    display: inline-block;
    width: 33%;
    font-size: 12px;
    text-align: left;
    padding: 0 20px;
    line-height: 40px;
    box-sizing: border-box;
    border-right: 1px solid #e6e6e6;
}

.course-6 .class-list li {
    text-align: left;
    padding: 15px 0;
}

.course-6 .class-list li span {
    width: 100%;
    line-height: 20px;
}


.public {
    /* width: 1160px; */
    margin: 0 auto;
    text-align: left;
}

.public-list {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.public .public-item {
    width: 275px;
    /* height: 155px; */
}

.public .img {
    position: relative;
    width: 100%;
    padding-top: 38.1818%;
    border-radius: 5px;
    transition: all ease 0.4s;
    cursor: pointer;
}

.public .img img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    margin: auto;
    transition: all ease 0.4s;
}

.public .img:hover {
    transform: translateY(-4px);
    box-shadow: 0 18px 16px -10px rgba(0, 0, 0, 0.2);
}

.public .img:hover img {
    transform: rotate(20deg);
}

.public-item:nth-child(n + 1) .img {
    background-image: linear-gradient(90deg, #277be1 0%, #1db0e6 100%);
}

.public-item:nth-child(n + 2) .img {
    background-image: linear-gradient(90deg, #ff8c00 0%, #ffbb00 100%);
}

.public-item:nth-child(n + 3) .img {
    background-image: linear-gradient(90deg, #9944c4 0%, #bc63cc 100%);
}

.public-item:nth-child(n + 4) .img {
    background-image: linear-gradient(90deg, #120a33 0%, #120a33 100%);
}

.public .course-name {
    /* font-family: PingFangSC-Medium; */
    font-family: 'ali-medium';
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-top: 8px;
}

.public .course-name span {
    /* display: inline-block; */
    display: none;
    width: 58px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #1BAA0C;

}

.public .tag .course-name span {
    display: inline-block;
}

.public .teacher {
    /* font-family: PingFangSC-Regular; */
    font-size: 12px;
    color: #999999;
    line-height: 17px;
    margin-top: 4px;
}