@media(max-width:768px) {
    .main .main-c {
        width: 90%;
    }

    body .sub-nav .sub-item {
        /* width: 20%; */
        padding: 0 calc(10% - 1em);
    }

    .main .work-list .work-item {
        width: 100%;
        margin: 25px 0;
    }
}