.banner {
    height: 300px;
    /* padding-bottom: 18.75%; */
    /* background-image: linear-gradient(179deg, #20253D 0%, #374469 100%); */
    background: url('../img/ui-banner.png') no-repeat center;
    background-size: cover;
    margin-bottom: 38px;
}

.main {
    padding: 0 0 80px 0;
    background-color: #f5f5f5;
    overflow: hidden;
}

.main-c {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;

}

.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.work-list .work-item {
    width: 275px;
    background-color: #fff;
    text-align: left;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 50px;
    transition: all ease .4s;
}

.work-list .work-item:hover {
    box-shadow: 0 18px 16px -10px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.work-item .img {
    position: relative;
    width: 100%;
    padding-top: 67.2727%;
    overflow: hidden;
}

.work-item .img a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #c1c1c1;
    transition: all ease .4s;
}

.work-item .img:hover a {
    transform: scale(1.08);
}

.work-item .work-title {
    font-size: 14px;
    color: #666;
    line-height: 20px;
    padding-left: 17px;
    margin-top: 10px;
    font-weight: bolder;
}

.work-item .work-author {
    line-height: 21px;
    font-size: 12px;
    color: #999;
    padding-left: 17px;
    margin-bottom: 11px;
}

.work .more {
    width: 198px;
    height: 48px;
    font-size: 16px;
    color: #666;
    text-align: center;
    line-height: 48px;
    border: 1px solid #ACACAC;
    border-radius: 5px;
    margin: 60px auto 0;
    cursor: pointer;
    transition: all ease .4s;
}

.work .more:hover {
    background-image: linear-gradient(-40deg, #a066fc 0%, #5939ec 100%);
    color: #fff;
}


@media(max-width:768px) {
    body .banner {
        height: 0;
        padding-top: 30%;
    }

    .main .main-c {
        width: 90%;
    }

    .main .work-list .work-item {
        width: 100%;
        margin: 25px 0;
    }
}