@media(max-width:768px) {
    .main .main-c{
        width: 90%;
    }
    .main .student-info{
        display: none;
    }
    .main .job-info{
        width: 100%;
    }

    .main .part-1 .job-detail li {
        padding: 0;
        background: none;
    }
}