.main {
    padding: 0 0 90px 0;
    background-color: #f5f5f5;
    font-family: 'ali-regular';
}

.main-c {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1160px;
    padding-top: 38px;
    margin: 0 auto;
}

.main-c h3 {
    width: 100%;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    padding-bottom: 27px;
}

.main-c h3 a {
    color: #666;
}

.student-info {
    width: 260px;
    height: 340px;
    background-color: #fff;
    font-size: 14px;
    color: #666;
    border-radius: 5px;
}

.student-info img {
    display: block;
    width: 100%;
    height: 170px;
}

.student-info p {
    height: 170px;
    line-height: 170px;
    box-sizing: border-box;
    padding-left: 45px;
}

.student-info p span {
    display: inline-block;
    line-height: 28px;
    vertical-align: middle;
}

.job-info {
    width: 865px;
    /* height: 2px; */
}

.job-info h2 {
    font-size: 26px;
    line-height: 37px;
    font-family: 'ali-regular';
    font-weight: bolder;
    color: #333;
}

.job-info h3 {
    color: #999;
    font-size: 16px;
    font-family: 'ali-medium';
    line-height: 22px;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 0;
}

.job-info .part-1 .job-detail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 120px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.part-1 .job-detail li {
    width: 33.333%;
    text-align: center;
}

.part-1 .job-detail .item {
    display: inline-block;
    background-size: 38px 38px;
    background-repeat: no-repeat;
    background-position: left center;

    padding-left: 52px;
}

.part-1 .job-detail h4 {
    line-height: 20px;
    font-size: 14px;
    color: #666;
    text-align: left;
}

.part-1 .job-detail p {
    line-height: 22px;
    font-size: 16px;
    color: #000;
    text-align: left;
    font-family: 'ali-medium';
}

.job-info .part-2 .text {
    padding: 25px 35px;
    font-size: 14px;
    line-height: 28px;
    color: #666;
    background-color: #fff;
    border-radius: 5px;
}

.job-info .part-3 {
    position: relative;
}

.job-info .part-3 .check {
    padding: 0 30px;
    background-color: #fff;
    border-radius: 5px;
}

.part-3 .check li {
    display: flex;
    align-items: center;
    height: 119px;
    border-bottom: 1px solid rgba(151, 151, 151, .2);
    background: url('../img/pass.png') no-repeat right center;
    background-size: 63px 47px;
}

.part-3 .check .icon {
    display: block;
    width: 38px;
    height: 42px;
    font-size: 20px;
    color: #4895FA;
    text-align: center;
    line-height: 50px;
    font-weight: bolder;
    background: url('../img/box.png') no-repeat center;
    background-size: 100% 100%;
    border-radius: 3px;
    box-shadow: 0 2px 3px 0 rgba(36, 152, 242, 0.30);
    margin-right: 35px;
}

.part-3 .check h4 {
    font-family: 'ali-regular';
    font-weight: bolder;
    font-size: 18px;
    color: #333;
    line-height: 25px;
    margin-bottom: 8px;
}

.part-3 .check p {
    font-size: 12px;
    line-height: 17px;
    color: #666;
}

.part-3 .check p span {
    display: inline-block;
    width: 2px;
    height: 12px;
    background-color: rgba(102, 102, 102, .3);
    margin: 0 20px;
    vertical-align: middle;
}

.part-3 .btn {
    position: relative;
    top: -1px;
    width: 100%;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    color: #666;
    background-image: linear-gradient(180deg, rgba(227, 227, 227, 0.35) 0%, rgba(207, 207, 207, 0.05) 98%);
    border: 1px solid #EEEEEE;
    border-radius: 0 0 5px 5px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
}

.part-4 .offer-img {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 430px;
    padding: 0 110px;
    background-color: #fff;
    border-radius: 5px;
}

.part-4 .offer-img .swiper-wrapper {
    display: flex;
    justify-content: space-between;
}

.part-4 .offer-img .swiper-slide {
    position: relative;
    width: 188px;
    height: 100%;
}

.part-4 .offer-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 188px;
    height: 334px;

}



@media(max-width:768px) {
    .main .main-c {
        width: 90%;
    }

    .main .student-info {
        /* display: none; */
        width: 100%;
        margin-top: 30px;
    }

    .main .job-info {
        width: 100%;
    }

    .main .job-info .part-1 .job-detail {
        height: 240px;
    }

    .main .part-1 .job-detail li {
        width: 100%;
        padding: 0;
        background: none;
    }

    .main .part-1 .job-detail .item {
        display: block;
        margin-left: 35px;
    }

    .part-3 .check .check-title {
        width: calc(100% - 73px);
    }

    .main .part-4 .offer-img {
        padding: 0;
    }
}